body{
	background-color: white;
}

#menu{
	text-align: center;
	font-family: Helvetica;
	text-decoration: bold ;
	font-size: 30px;
}

div{
	width :30% ; 
	height:150px;
	border: 2px solid black;
	padding : 2px ;
	margin : 10px ; 
	float :left ; 
	overflow : hidden ;
	background-color: grey;
}

section{

	position : relative ; 
	left :right; 
	top:-16px;
	color :white ;
	border : 2px solid black ;
	text-align : center ;
	text-decoration: bold;
	width:25%;
}

#chicksec{
	background-color: red;
}

#beefsec{
	background-color: orange;
}

#sushisec{
	background-color: green;
}

@media (min-width : 768px )and(max-width : 991px){
	.col-mid-1,.col-mid-2,.col-mid-3,.col-mid-4,.col-mid-5,.col-mid-6,.col-mid-6,.col-mid-8,.col-mid-9,.col-mid-10,.col-mid-11,.col-mid-12,{
		float : left ; 
	}
	.col-mid-1{width:8.33px};
	.col-mid-2{width:16.66px};
	.col-mid-3{width:24.99px};
	.col-mid-4{width:33.32px};
	.col-mid-5{width:41.65px};
	.col-mid-6{width:49.98px};
	.col-mid-7{width:58.31px};
	.col-mid-8{width:66.64px};
	.col-mid-9{width:74.97px};
	.col-mid-10{width:83.3px};
	.col-mid-11{width:91.63px};
	.col-mid-12{width:100px};
}

@media (max-width : 767px){
	.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-6,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,{
		float : left ; 
	}
	.col-sm-1{width:8.33px};
	.col-sm-2{width:16.66px};
	.col-sm-3{width:24.99px};
	.col-sm-4{width:33.32px};
	.col-sm-5{width:41.65px};
	.col-sm-6{width:49.98px};
	.col-sm-7{width:58.31px};
	.col-sm-8{width:66.64px};
	.col-sm-9{width:74.97px};
	.col-sm-10{width:83.3px};
	.col-sm-11{width:91.63px};
	.col-sm-12{width:100px};
}