*{
	box-sizing : border-box ;
	
}

body{
	background-color: white;
}

#menu{
	text-align: center;
	font-family: Helvetica;
	text-decoration: bold ;
	font-size: 30px;
}

div{
	width :30% ; 
	height:150px;
	border: 2px solid black;
	padding : 2px ;
	margin : 3px ; 
	float :left ; 
	overflow : hidden ;
	background-color: grey;
}

section{

	position : relative ; 
	left :right; 
	top:-16px;
	color :white ;
	border : 2px solid black ;
	text-align : center ;
	text-decoration: bold;
	width:25%;
}

#chicksec{
	background-color: red;
}

#beefsec{
	background-color: orange;
}

#sushisec{
	background-color: green;
}

@media (max-width : 767.99px){
	div{
	width : 100% ;
	margin : 2px ; 
	} 
}

@media (min-width : 768px )and (max-width : 991.99px){
	.col-mid-1,.col-mid-2,.col-mid-3,.col-mid-4,.col-mid-5,.col-mid-6,.col-mid-7,.col-mid-8,.col-mid-9,.col-mid-10,.col-mid-11,.col-mid-12,{
		float : left ;
		margin : 3px;  
	}
	.col-mid-1{width:8.33%;}
	.col-mid-2{width:16.66%;}
	.col-mid-3{width:24.99%;}
	.col-mid-4{width:33.32%;}
	.col-mid-5{width:41.65%;}
	.col-mid-6{width:49.98%;}
	.col-mid-7{width:58.31%;}
	.col-mid-8{width:66.64%;}
	.col-mid-9{width:74.97%;}
	.col-mid-10{width:83.3%;}
	.col-mid-11{width:91.63%;}
	.col-mid-12{width:100%;}
}

@media (min-width : 992px){
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,{
		float : left ;
		margin : 3px;  
	}
	.col-lg-1{width:8.33%;}
	.col-lg-2{width:16.66%;}
	.col-lg-3{width:24.99%;}
	.col-lg-4{width:33.32%;}
	.col-lg-5{width:41.65%;}
	.col-lg-6{width:49.98%;}
	.col-lg-7{width:58.31%;}
	.col-lg-8{width:66.64%;}
	.col-lg-9{width:74.97%;}
	.col-lg-10{width:83.3%;}
	.col-lg-11{width:91.63%;}
	.col-lg-12{width:100%;}
}